<h1>Matched Diagnoses</h1>

<% if @diagnoses.nil? || @diagnoses.empty? %>
  <p>No diagnoses matched the selected symptoms.</p>
<% else %>
  <ul>
    <% @diagnoses.each do |diagnosis| %>
      <li>
        <%= diagnosis.name %>
        <ul>
          <% diagnosis.symptoms.each do |symptom| %>
            <li><%= symptom.name %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<h1>Matched Specialties</h1>
<% if @specialties.nil? || @specialties.empty? %>
  <p>No specialties matched the selected symptoms.</p>
<% else %>
  <ul>
    <% @specialties.each do |specialty| %>
      <li>
        <%= specialty.name %>
      </li>
    <% end %>
  </ul>
<% end %>
