
<%= render "shared/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_image.jpg' %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <h1>Symptom Checker <strong></strong><strong></strong>!</h1>
    <p>Symptom checker helps you identify your illness and guides you.</p>
    <a class="btn btn-flat" href="#">Check it out!</a>
  </div>
</div>
